.productCard {
  border: 1px solid #e0e0e0;
  padding: 10px 17px 15px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topCard {
  display: flex;
  justify-content: space-between;
}

.textCard {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.category {
  font-size: 14px;
  color: #999;
  text-transform: lowercase;
}

.favoriteButton {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.title {
  font-size: 14px;
  line-height: 18.9px;
  font-weight: 500;
}

.image {
  object-fit: 'contain';
  margin: 40px auto;
}

.price {
  font-size: 18px;
  font-weight: bold;
}
  