.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E2E8F0;
  padding: 12px 200px;
}

.searchBlock {
  display: flex;
  align-items: center;
  gap: 125px;
}

.favourites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  border-bottom: 1px solid #E2E8F0;
  padding: 12px 200px;
  list-style-type: none;
  
  li {
    cursor: pointer;
  }
}